<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Distance</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
<a href="{% url 'wspomaganie_decyzji:galerie' %}">
<button type="button" class="btn btn-outline-info">Galerie</button>
</a>


<form action="{% url 'wspomaganie_decyzji:distance' %}" method="post">
    {% csrf_token %}
  <div class="form-group w-25 mx-auto">
    <label for="inputAddress">Address</label>
      {{ form.address }}
  </div>

  <div class="form-row w-25 mx-auto">
    <div class="form-group col-md-9">
      <label for="inputCity">City*</label>
        {{ form.city }}
    </div>
    <div class="form-group col-md-3">
      <label for="inputZip">Zip</label>
        {{ form.zip_code }}
    </div>

      <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">Zapisz adres</button>
      </div>

  </div>
    <div class="w-25 mx-auto">
           * - wymagane
      </div>
</form>

</body>
</html>