<!DOCTYPE html>
{% load bootstrap4 %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- My css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</head>
<body>
<div class="float-left">
    <a href="{% url 'wspomaganie_decyzji:distance' %}">
        <button type="button" class="btn btn-outline-info">Start</button>
    </a>
</div>
<div class="w-75 mx-auto">
<div class="wrapper">
  <table>
      <thead>
        <tr>
          <th>Rank</th>
          <th>Galeria</th>
          <th>Wielkość Obiektu</th>
          <th>Wygląd obiektu</th>
          <th>Artykuły spożywcze</th>
          <th>Rozrywka</th>
          <th>Usługi</th>
          <th>Dystans od domu</th>
        </tr>
      </thead>
      <tbody>
      {% for galeria in galerie_ranking %}
          <tr>
          <td class="rank">{{ forloop.counter }}.</td>
          <td class="team">
            <img title="profile image" src="{{ galeria.image.url }}" class="avatar img-circle img-thumbnail" alt="avatar" height="25" width="25">
             {{ galeria.name }}</td>
          <td class="points">{{ galeria.wielkosc_obiektu }}</td>
          <td class="points">{{ galeria.wyglad_obiektu }}</td>
          <td class="points">{{ galeria.artykuly_spozywcze }}</td>
          <td class="points">{{ galeria.rozrywka }}</td>
          <td class="points">{{ galeria.uslugi }}</td>
          <td class="points">{{ galeria.dystans }}</td>
        </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
</div>

<div class="float-left"></div>
</body>
</html>